{% extends 'Base.html' %}

{% block title %}Home Page{% endblock %}

{% block page %}Home{% endblock %}

{% block content %}
<div class="home text-center">
  <span class="badge badge-pill badge-light ">Welcome to my Personal Portfolio</span>


  <div class="container my-5 py-5 z-depth-1" id="somthing">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">
      
      <h3 class="font-weight-bold pt-5 pb-2">Material Design Blocks</h3>
  
      <div class="row mx-3">
        <div class="col-md-4 px-4 mb-4">
  
          <div class="view">
            <img src="https://mdbootstrap.com/img/illustrations/drawkit-drawing-man-colour.svg" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
       <div class="col-md-4 px-4 mb-4">
  
          <div class="view">
            <img src="https://mdbootstrap.com/img/illustrations/drawkit-phone-conversation-colour.svg" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
        <div class="col-md-4 px-4 mb-4">
  
          <div class="view">
            <img src="https://mdbootstrap.com/img/illustrations/app-user-colour.svg" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
      </div>
  
    </section>
    <!--Section: Content-->
  </div>


        <div class="container my-5 p-5 z-depth-1" id="somthing">


          <!--Section: Content-->
          <section class="text-center dark-grey-text">
        
            <!-- Section heading -->
            <h2 class="font-weight-bold mb-4 pb-2">Why is it so great?</h2>
            <!-- Section description -->
            <p class="lead grey-text mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        
            <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-md-4 mb-4">
        
                <i class="fas fa-chart-area fa-3x red-text"></i>
                <h5 class="font-weight-bold my-4">Analytics</h5>
                <p class="grey-text mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                  maiores aperiam minima assumenda deleniti hic.
                </p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-4 mb-4">
        
                <i class="fas fa-book fa-3x cyan-text"></i>
                <h5 class="font-weight-bold my-4">Tutorials</h5>
                <p class="grey-text mb-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                  maiores aperiam minima assumenda deleniti hic.
                </p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-4 mb-4">
        
                <i class="far fa-comments fa-3x orange-text"></i>
                <h5 class="font-weight-bold my-4">Support</h5>
                <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                  aperiam minima assumenda deleniti hic.
                </p>
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </section>
          <!--Section: Content-->
        </div>
      </div>
        

</div>
{% endblock %}